.home__name::after{
    content:"" ;
    display: block;
    width: 100dvw;
    height: 2px;
    background-color: white;
}
.home__name--last{
    color: var(--color--2);
}

.home__info{
    padding-top: 1rem;
}
.footer{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    &__copyright{
        font-size: var(--step-0);
    }
}
.footer__icons{
    display: flex;
    gap: .6rem;
    height: 100%;
    
    .fab{
    color: white;
    height: 100%;
    }
    .fab:hover{
        color: var(--color--2);
    }
}